body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111; /* Matte black */
    z-index: -2; 
    background-attachment: fixed;
}

.asterism {
    position: fixed; /* Changed to fixed */
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('asterism.png');
    background-size: 50px 50px; /* Match image size for tiling */
    background-repeat: repeat;
    background-position: 0 0, 150px 150px; /*Staggering.  Half the background size*/
    pointer-events: none;
}

@keyframes shimmer {
    0% {
        opacity: 0.5;
        filter: brightness(1);
    }
    50% {
        opacity: 0.9;
        filter: brightness(1.2);
    }
    100% {
        opacity: 0.5;
        filter: brightness(1);
    }
}

.content {
    padding: 20px;
    z-index: 1; 
}

