
body {
    margin: 0;
    overflow-x: hidden;
    color: white; /* White text */
    font-family: sans-serif;
}

.background {
  position: absolute; /* Changed to absolute */
  top: 0;
  left: 0;
  width: 100vw; /* Use vw for viewport width */
  height: 100vh; /* Use vh for viewport height */
  background-color: #111; /* Matte black background */
  z-index: -1;
  overflow: hidden;
  background-image: url('asterism.png'), repeating-linear-gradient(to right, transparent, transparent 10px, rgba(0,0,0,0.1) 10px, rgba(0,0,0,0.1) 20px); /* Combined background images */
  background-size: 100px 100px, cover; /* Set size for both images */
  background-position: 50px 25px, center center; /*Stagger and center*/
  background-repeat: repeat, no-repeat; /* repeat the asterism and don't repeat the background color*/

}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('asterism.png');
  background-size: 100px 100px; /* Adjust spacing */
  background-repeat: repeat;
  background-position: 50px 25px; /* Adjust staggering */
  z-index: -2;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(calc(100% + 50px));
    opacity: 0.4;
  }
}


.content {
  padding: 20px;
}

